.contact-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.message {
    color: var(--cream) !important;
}

.submit-btn {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--coral);
    border: 1px solid var(--coral);
    color: white;
}

@media screen and (max-width: 1440px) {
    .contact-title {
        margin: 2rem;
        padding: 0 !important;
    }

    .email-header h2 {
        font-size: 20px !important;
        margin-top: 2rem;
    }

    .email-header h4 {
        font-size: 15px !important;
    }

}

@media screen and (max-width: 1024px) {
    .contact-title {
        font-size: 3.5rem !important;
        padding: 1rem 0 !important;
    }

    .message-container {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 425px) {
    .message-container {
        margin-top: 1rem;
    }

    .contact-title {
        font-size: 2.5rem !important;
    }
}

@media screen and (max-width: 320px) {
    .email-header h2 {
        font-size: 22px !important;
    }

    .email-header h4 {
        font-size: 16px !important;
    }

    .contact-title {
        font-size: 2rem !important;
    }
}