.intro-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.intro-links {
    display: flex;
    margin-top: 2rem;
}

.intro-links button {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--title);
}

.intro-links button:hover {
    scale: 1.2;
    transition: all 0.3s ease-in;
}

.intro-links button a {
    color: var(--coral) !important;
    text-decoration: none;
}

h1 {
    color: var(--cream) !important;
    text-shadow: 3px 3px var(--coral);
    padding-bottom: 3rem !important;
}

@media (max-width: 1024px) {
    h1 {
     font-size: 5rem !important;
    }

    .intro-container p {
        width: 70%;
    }
 }

@media (max-width: 425px) {
   h1 {
    font-size: 3rem !important;
   }

   .intro-container p {
    width: 90%;
}
}