.projects-container {
    min-height: 100vh;
    padding: 100px !important;
}

.projects-card {
    background-color: white;
    padding: 14px;
    margin: 10px auto;
    border-radius: 5px;
    color: var(--bg-2);
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    width: 80%;
    box-sizing: border-box;
}

.project-link {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 50%;
    margin: 10px auto;
}

.project-link a {
    color: var(--blue);
    text-decoration: none !important;
}

.project-link a:hover {
    color: var(--coral);
}

@media screen and (max-width: 1400px) {
    .projects-card {
        flex-direction: column;
        display: flex;
        width: 45% !important;
    }

    .projects {
        grid-template-columns: auto auto;
    }
}