.desktop {
    width: 15%;
    padding: 3% !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    text-align: center;
}

.title {
    color: var(--header-color);
    font-family: var(--header-font);
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-align: center;
}

.nav-item {
    font-family: var(--body-text);
    font-weight: 500;
    padding: 0.5rem 0;
}

.nav-item a {
    color: var(--sage);
}

@media (max-width: 768px) {
    #root {
        flex-direction: column;
    }
  }