.desktop {
    width: 30%;
    padding: 3% 0 3% 10% !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler{
    background: var(--coral) !important;
}

.nav {
    text-align: left;
    width: 78% !important;
}

.title {
    color: var(--cream);
    font-family: var(--title) !important;
    text-shadow: 2px 2px var(--pink);
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-align: center;
}

.nav-item {
    font-family: var(--body-text);
    font-weight: 500;
    margin-left: 1rem;
    transition: padding 1s;
}

.nav-item:hover {
    padding-left: 0.5rem;
}

.nav-item a {
    color: var(--cream);
}

.nav-item .ext-link {
    text-decoration: none !important;
    color: var(--cream) !important;
}

.nav .resume {
    text-decoration: none !important;
    color: var(--cream) !important;
}

.nav-item a:hover {
    color: var(--coral);
}

.active {
    color: var(--coral) !important;
    font-family: var(--title);
}

@media (max-width: 768px) {
    #root {
        flex-direction: column;
    }
}