@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&family=Montserrat&family=Roboto+Slab&display=swap');

:root {
  --bg: #414141;
  --bg-2: #06070e;
  --tan: #c5afa0;
  --slateGreen: #183a37;
  --sage: #94a187;
  --lightGrey: #dedbd2;
  --cream: #f7e1d7;
  --yellow: #FEC260;
  --pink: #A12568;
  --coral: #E94560;
  --darkPurple: #1a052a;
  --purple: #533483;
  --navy: #16213E;
  --blue: #0F3460;
  --text-color: #faf8fb;
  --header-color: #cfcdcd;
  --text-highlight: #EC625F;
  --title: 'Lemonada', cursive;
  --header-font: 'Roboto Slab', serif;
  --body-text: 'Montserrat', sans-serif;
}

#root {
  display: flex;
  background-color: var(--navy);
  color: var(--cream);
}