@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

:root {
  --bg: #414141;
  --bg-2: #06070e;
  --tan: #c5afa0;
  --slateGreen: #183a37;
  --sage: #94a187;
  --lightGrey: #dedbd2;
  --cream: #f7e1d7;
  --pink: #e9bcb7;
  --purple: #432534;
  --text-color: #faf8fb;
  --header-color: #cfcdcd;
  --text-highlight: #EC625F;
  --header-font: 'Roboto Slab', serif;
  --body-text: 'Montserrat', sans-serif;
}